<div class="card">
  <button class="fav-btn" (click)="togglePreferit()" [class.is-fav]="esFavorit">
    {{ esFavorit ? "❤️" : "🤍" }}
  </button>

  <img [src]="restaurant.imatgeUrl" [alt]="restaurant.titol" class="card-img" />

  <div class="card-body">
    <h5 class="card-title">{{ restaurant.titol }}</h5>

    <div class="card-details">
      <p>{{ restaurant.descripcio }}</p>
      <p><strong>Categoria:</strong> {{ restaurant.categoria }}</p>
      <p><strong>Preu:</strong> {{ restaurant.preu }}€</p>
      <p><strong>Unitats:</strong> {{ restaurant.unitats }}</p>
    </div>

    <div *ngIf="restaurant.esPopular" class="status-open">Popular</div>
  </div>
</div>
